.App {
  /*text-align: center;*/
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.HomeBanner{
    padding-top: 20%;
    text-align: center;
}
.FTWelcome{
    max-width: 75%;
}
.chipcontainer{
    text-align: center;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.FTPurple{
    color: #49004e !important;
}

.contentWrapper{
    margin: 15px 15px;
}
@media only screen and (min-width: 600px) {
    /* Tablets */
    
    .contentWrapper{
        max-width: 520px;
        margin: 30px auto;
    }
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .contentWrapper{
        max-width: 720px;
        margin: 40px auto;
    }
}
